@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-size: 13px;
    padding-top: 93px;
    background-color: #18191b;
    max-width: 1600px;
    margin: auto;
}


* {
    margin: 0;
    padding: 0;
}

/************************Home Page************************/
body#home{
    padding-top: 5px;
}

#home {
    font-family: 'Raleway', 'Open Sans', sans-serif;
}

#home-header {
    background: url("Images/Nakov-Wolf.jpg") no-repeat top center;
    background-size: 100%;
    max-width: 100%;
    height: 42rem;
}


.nav-default img{
    padding-left: 15px;
    height: 70px;
}

.logo img:hover{
    cursor: pointer;
}

div.container-slider{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}


#home-header .slider{
    background-color: rgba(250, 183, 2, 0.76);
    padding: 10px;
    width: 400px;
    height: auto;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 60%;

}


#home-header h1{
    color:  #18191b;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 7px;
}


#home-header h3 {
    font-size: 3.5em;
    font-weight: 400;
    margin-bottom: 5px;
    color: #18191b;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.container-nav {
    width: 100%;
    background-color: #18191b;
    border-bottom: solid 1px rgba(0,0,0,0.0);
    position: fixed;
    top: 0;
    z-index: 999;
}



@media screen and (min-width: 1600px) {
    .container-nav {
        width: 100%;
        background-color: #18191b;
        border-bottom: solid 1px rgba(0,0,0,0.0);
        position: fixed;
        top: 0;
        right: 5px;
        z-index: 999;
    }
}


.nav-default, .about{
    max-width: 1600px;
    margin: 0 auto;
}

.nav-default ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
    padding-right: 15px;
}

.nav-default li {
    padding: 25px 0 20px 20px;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

.nav-default li a {
    color: #fff;
    text-decoration: none;
}


.nav-default ul a:hover{
    opacity: 0.7;
}


#home-header button{
    background: none;
    outline: none;
    border: 3px solid #18191b;
    padding: 0px 20px;
    height: 40px;

}

#home-header button a{
    text-decoration: none;
    color: #18191b;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
    outline: none;
    border: none;
    letter-spacing: 3px;
}

#home-header button:hover {
    background-color: #18191b;
    cursor: pointer;
}

#home-header button:hover a {
    color: #fff;
}




/************************Section His Story ************************/

.about {
    text-align: center;
    background-color: #18191b;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
}

.about h2{
    font-size: 2.3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}



.separator {
    margin: 17px 0 35px 0;
}


.separator span {
    position: relative;
}


.separator span::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #393A3D;
    top: 5px;
    right: 100%;
    width: 300px;
    margin-right: 15px;
}


.separator span::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #393A3D;
    top: 5px;
    width: 300px;
    left: 100%;
    margin-left: 15px;
}


@media screen and (max-width: 780px ) {
    .separator span::before,
    .separator span::after {
        width: 180px;
    }
}


@media screen and (max-width: 550px ) {
    .separator span::before,
    .separator span::after {
        width: 100px;
    }
}


@media screen and (max-width: 320px ) {
    .separator span::before,
    .separator span::after {
        width: 70px;
    }

    .his-story p {
        text-align: justify;
    }
}


.separator span .fa-money {
    font-size: 3em;
    vertical-align: middle;
    color: #fff;
}


.his-story-container{
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.about article.his-story {
    text-align: left;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
}

.his-story h3{
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.his-story h3 span{
    color: #FAB702;
}

.his-story p{
    height: 120px;
    font-size: 1em;
    line-height: 1.8em;
}



/***********************Section Wolf-Advice ***********************/

.wolf-advice {
    background: #222327;
    padding: 100px 0 120px;
    text-align: center;
}


.wolf-advice h2 {
    font-size: 2.3em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.wolf-advice p {
    width: 350px;
    background: rgba(4, 4, 4, 0.91);
    display: inline-block;
    padding: 70px 50px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    line-height: 26px;
    font-size: 1.4em;
    position: relative;
    margin-top: 50px;
}


.wolf-advice p::before {
    font-family: 'FontAwesome', sans-serif;
    content: "\f10d";
    color: #111;
    font-size: 1.5em;
    display: inline-block;
    padding: 7px 18px;
    background: #fab702;
    position: absolute;
    left: 7px;
    top: 13px;
}


.wolf-advice p::after {
    font-family: 'FontAwesome', sans-serif;
    content: "\f10e";
    color: #111;
    font-size: 1.5em;
    display: inline-block;
    padding: 7px 18px;
    background: #fab702;
    position: absolute;
    right: 7px;
    bottom: 13px;
}


@media screen and (max-width: 768px) {
    .wolf-advice h2 {
        font-size: 1.8em;
    }
}


@media screen and (max-width: 480px) {
    .wolf-advice {
        padding: 50px 0;
    }

    .wolf-advice h2 {
        font-size: 1.6em;
    }

    .wolf-advice p {
        width: 90%;
        box-sizing: border-box;
        padding: 60px 28px;
        margin-top: 0;
        font-size: 1.1em;
    }

    .wolf-advice p::before {
        padding: 4px 15px;
        font-size: 1.3em;
    }

    .wolf-advice p::after {
        padding: 4px 15px;
        font-size: 1.3em;
    }
}







/*********************** Section Money ***********************/


.money {
    background: url('Images/dollar.jpg') no-repeat center;
    background-size: cover;
    height: 600px;
}


.money p {
    color: #fab702;
    font-size: 2em;
    visibility: hidden;
    text-align: center;
    padding-top: 220px;
    font-weight: 900;
}


.money:hover p {
    visibility: visible;
}


.money:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('Images/dollar.jpg') no-repeat center;
    background-size: cover;
}





/***********************Section Call Him ***********************/

.call-to-action {
    background-color: #fab702;
    height: 200px;
    display: flex;
}


.call-him {
    display: block;
    background: none;
    border: 3px solid #222222;
    width: 260px;
    cursor: pointer;
    margin: auto;
    color: #222222;
    font-size: 1.2em;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 20px 10px;
    text-decoration: none;
    text-align: center;
}


.call-him:hover {
    background-color: #222222;
    color: #fff;
}


.fa-chevron-right {
    padding-left: 5px;
}


@media screen and (max-width: 320px) {
    .call-him {
        width: 200px
    }
}





/***********************Section Judge ***********************/

.judge {
    background: url('Images/judge-main.jpg') no-repeat center center;
    background-size: cover;
    padding: 80px 0;
    text-align: center;
}


.judge h2 {
    text-transform: uppercase;
    font-size: 2.3em;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 1px 1px #2a282b;
}


.judge .separator span .fa-money {
    text-shadow: 2px 1px 1px #2a282b;
}


.judge .separator span::before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.judge .separator span::after {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.judge .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.judge .flex .judge-info {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 30px;
    background: rgba(250, 183, 2, 0.76);
}


.judge .flex .judge-info:hover {
    background: rgba(24, 25, 27, 0.75);
}


.judge .flex .judge-info:hover a {
    color: #fff;
}


.judge .flex .judge-info a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 900;
    display: block;
    width: 220px;
    height: 220px;
    line-height: 220px;
    text-align: center;
}


.judge .flex .judge-info a:hover {
    cursor: default;
}


@media screen and (min-width: 3400px) {
    .judge .flex .judge-info {
        width: 330px;
        height: 330px;
    }

    .judge .flex .judge-info a {
        width: 330px;
        height: 330px;
        line-height: 330px;
    }
}





@media screen and (max-width: 768px) {
    .judge h2 {
        font-size: 1.8em;
    }
}



@media screen and (max-width: 480px) {
    .judge {
        padding: 50px 0;
    }

    .judge h2 {
        font-size: 1.6em;
    }

    .judge .flex .judge-info {
        width: 180px;
        height: 180px;
        margin: 20px;
    }

    .judge .flex .judge-info a {
        font-size: 0.9em;
        width: 180px;
        height: 180px;
        line-height: 180px;
    }
}






/************************Section Fun Facts ************************/

.fun-facts {
    background-color: #18191B;
    color: #fff;
    text-align: center;
    padding: 100px 0 80px;
}


.fun-facts h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.3em;
}


.fun-facts ul {
    list-style: none;
}


.fun-facts ul li {
    display: inline-block;
    margin: 40px 60px;
}


.fun-facts img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    max-width: 100%;
}


.fun-facts h3.numbers {
    margin-bottom: 15px;
    font-size: 2.3em;
}


.fun-facts ul li p {
    font-size: 1.5em;
    color: #fab702;
}



@media screen and (max-width: 768px) {
    .fun-facts h2 {
        font-size: 1.8em;
    }
}


@media screen and (max-width: 640px) {
    .fun-facts img {
        margin-bottom: 5px;
    }

    .fun-facts h3.numbers {
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 480px) {
    .fun-facts h2 {
        font-size: 1.6em;
    }

    .fun-facts {
        padding: 50px 0 20px;
    }

    .fun-facts ul li {
        margin: 30px;
    }

    .fun-facts img {
        width: 40px;
        height: 40px;
    }

    .fun-facts h3.numbers {
        font-size: 1.7em;
    }

    .fun-facts ul li p {
        font-size: 1.1em;
    }
}






/************************ Section Partners ************************/

.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #000;
    padding: 30px;
}


.partners img {
    margin: 30px;
    max-width: 100%;
}




/************************ Footer ************************/

footer {
    background-color: #0B0B0B;
    color: #fff;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


footer p {
    text-transform: capitalize;
    padding: 30px 10px;
}


footer p span {
    margin-left: 10px;
}


footer p span a {
    color: #fab702;
    text-transform: uppercase;
    text-decoration: none;
}


footer .social {
    margin-left: 40px;
}


footer .social a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 1.2em;
}


footer .social a:hover {
    color: #FAB702;
}


@media screen and (max-width: 480px) {
    footer {
        flex-direction: column;
    }

    footer .social {
        margin-left: 0;
    }
}


@media screen and (max-width: 320px) {
    footer {
        font-size: 0.9em;
    }
}





/************************ Team Page ************************/

body#team {
    font-family: 'Raleway', 'Open Sans', sans-serif;
}


body#team main {
    background: #fab702;
}


body#team main img {
    width: 100%;
}


body#team main .text-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
    padding: 70px 30px;
}


body#team main .team h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
}


body#team main .team ul {
    list-style-type: none;
    margin-left: 10px;
}


body#team main .team ul li {
    margin-bottom: 5px;
}


body#team main .team ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.1em;
}


body#team main .team ul li a:hover {
    text-shadow: 1px 1px 2px #000000;
}


body#team main .text-container .motto {
    font-style: italic;
}


@media screen and (max-width: 768px) {
    body#team main .text-container {
        flex-direction: column;
        padding: 50px 20px;
    }

    body#team main .text-container .motto {
        margin-top: 60px;
    }
}


@media screen and (max-width: 320px) {
    body#team main .text-container {
        padding: 20px;
        font-size: 1.1em;
    }

    body#team main .text-container .motto {
        margin-top: 30px;
    }
}






/************************ Contact Page ************************/

body#contact {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    padding-top: 0;
}


#menu-icon, #contact-header #menu-icon {
    display: none;
    width: 40px;
    height: 40px;
    background: url(Images/list.png) center no-repeat;
}


body#contact main {
    background: #fab702;
    padding-top: 90px;
}


body#contact main form {
    width: 500px;
    max-width: 90%;
    margin: 80px auto;
    background: #18191b;
    color: #fff;
    padding: 40px 20px;
    box-sizing: border-box;
}


body#contact main form h2,
body#contact main form p {
    text-align: center;
}


body#contact main form h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}


body#contact main form p {
    font-size: 1.1em;
    margin-bottom: 35px;
}


body#contact main form i {
    color: #fab702;
    font-size: 1em;
}


body#contact main form .fa-chevron-right {
    padding-left: 0;
}


body#contact main form label {
    display: block;
    margin: 15px;
}


body#contact main form label span {
    display: inline-block;
    width: 100px;
    font-size: 1.1em;
    text-align: right;
    margin-right: 5px;
}


body#contact main form label:last-of-type span {
    vertical-align: top;
}


body#contact main form label input {
    height: 25px;
    width: calc(100% - 110px);
    outline: none;
    border-radius: 6px;
    padding: 3px;
    box-sizing: border-box;
    border: none;
}


body#contact main form label textarea {
    height: 180px;
    width: calc(100% - 110px);
    outline: none;
    resize: none;
    border-radius: 7px;
    padding: 3px;
    box-sizing: border-box;
    border: none;
}


body#contact main .map-container h2 {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 15px;
    padding: 0 15px;
}


body#contact main form .button {
    background: #fab702;
    width: 120px;
    display: block;
    margin: 30px auto 0;
    padding: 8px 25px;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 1px;
    cursor: pointer;
    border: 2px solid transparent;
}


body#contact main form .button:hover {
    background: #18191b;
    color: #fab702;
    border: 2px solid #fab702;
}



@media screen and (max-width: 480px) {
    body#contact main {
        padding-top: 40px;
    }

    body#contact main form {
    padding: 35px 15px;
    }

    body#contact main form label span {
        display: block;
        margin-bottom: 5px;
        margin-right: 0;
        text-align: left;
    }

    body#contact main form label input,
    body#contact main form label textarea {
        display: block;
        width: 100%;
    }
}



@media screen and (min-width: 3800px) {
    body#contact main form label input,
    body#contact main form label textarea {
        height: 25px;
        width: calc(100% - 166px);
        outline: none;
        border-radius: 6px;
        padding: 3px;
        box-sizing: border-box;
        border: none;
    }

    body#contact main form label span {
        width: 153px;
    }
}


body#contact main .map-container #map {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-color: grey;
}



/*Header media queries*/

@media all and (max-width:1200px){
    #home-header{
        height: 36rem;
    }

    #home-header h3{
        font-size: 3.2em;
    }

    #home-header h1{
        font-size: 1.8em;
    }
}

@media all and (max-width:1024px){
    #home-header{
        height: 34rem;
    }

    #home-header .slider{
        width: 20rem;

    }

    #home-header h3{
        font-size: 2.8em;
    }
}

@media all and (max-width:960px){
    .nav-default{
        padding: 6px;
    }

    .nav-default img{
        height: 60px;
    }

    .nav-default li{
        font-size: 1.3em;
    }

    body#home{
        padding-top: 40px;
    }
    body#team{
    padding-top: 82px;
}
    #home-header{
        height: 27rem;
    }

    #home-header .slider{
        width: 15rem;

    }

    #home-header h3{
        font-size: 2em;
    }

    #home-header h1{
        font-size: 1.6em;
    }

    #home-header button{
        padding: 0px 15px;
        height: 1.8rem;
    }

    #home-header button a{
        font-size: 0.8em;
    }

}

@media all and (max-width:768px){

    .nav-default{
        padding: 4px;
    }

    .nav-default img{
        height: 50px;
    }

    .nav-default li{
        font-size: 1.1em;
    }

    #home-header{
        height: 22rem;
    }

    #home-header .slider {
        width: 13rem;
        padding: 5px;
    }

    #home-header button a{
        font-size: 0.8em;
    }
    #home-header h1{
        font-size: 1.4em;
    }

    #home-header h3{
        font-size: 1.6em;
    }
    .about h2{
        font-size: 1.8em;
    }
}


@media all and (max-width:640px) {

    body{
        padding-top: 83px;
    }
    #home-header{
        background: url("Images/Nakov-wolf700x401.jpg") no-repeat center center;
        background-size: cover;
        height: 340px;
    }

    #home-header .slider{
        width: 211px;

    }

    #home-header h3{
        font-size: 1.6em;
    }

    #home-header h1{
        font-size: 1.2em;
    }

    #home-header button{
        padding: 0px 15px;
        height: 29px;
    }

    #home-header button a{
        font-size: 0.8em;
    }

    .nav-default img{
        height: 50px;
    }

    .nav-default li{
        font-size: 1.2em;
    }

}

@media all and (min-width:480px){
    .nav-default {
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 0 auto;

    }

    .his-story img{
        width:300px;
        height:220px;
    }
}

@media all and (max-width:480px){
    body{
        padding-top: 170px;
    }

    body#team{
        padding-top: 73px;
    }

    body#contact{
        padding-top: 40px;
    }

    .logo {
        text-align: center;
        margin-top: 10px;
    }

    .logo{
        display: inline-block;
    }

    .about h2{
        font-size: 1.6em;
    }

    #menu-icon,
    #contact #menu-icon {
        display: inline-block;
        background-color: #585353;
        border-radius: 3px;
        float: right;
        margin-top:15px;
        margin-right: 15px;
    }

     ul.top-list{
        display:none;
        height: auto;
    }

    a:hover#menu-icon,
    #contact a:hover#menu-icon {
        background-color: #454545;
        opacity: 0.8;
    }

    .nav-default li{
        text-align: center;
        padding: 20px 10px;
    }

    nav:hover ul.top-list{
        display: block;
        padding: 10px 0;
    }
}



