@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-size: 13px;
}

* {
    margin: 0;
    padding: 0;
}

/*Home-Page*/

#home {
    font-family: 'Raleway', 'Open Sans', sans-serif;
}

#home-header {
    background: url("Images/Nakov-Wolf.jpg") no-repeat top;
    background-size: cover;
    width: 100%;
    height: 750px;
}


#home-header nav img, #team-header nav img{
    padding-left: 15px;
    height: 70px;
}

.logo img:hover{
    cursor: pointer;
}
div.contanier-slider{
    position: relative;
    height: 100%;
    text-align: center;
}

#home-header .slider{
    background-color: rgba(250, 183, 2, 0.76);
    padding: 10px;
    width: 400px;
    height: 220px;
    margin: 0 auto;
    position: relative;
    top: 480px;

}


#home-header h1{
    color:  #18191b;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 7px;
}


#home-header h3 {
    font-size: 3.5em;
    font-weight: 400;
    margin-bottom: 5px;
    color: #18191b;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.container-nav {
    width: 100%;
    background-color: #18191b;
    border-bottom: solid 1px rgba(0,0,0,0.0);
    position: fixed;
    top: 0;
    z-index: 999;
}

#home-header nav, #team-header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 0 auto;

}

#home-header nav ul,#team-header nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
    padding-right: 15px;
}

#home-header nav li, #team-header nav li {
    padding: 25px 0 20px 20px;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

#home-header nav a, #team-header nav a {
    color: #fff;
    text-decoration: none;
}


#home-header nav ul a:hover,
#team-header nav ul a:hover{
    opacity: 0.7;
}


#home-header button{
    background: none;
    outline: none;
    border: 3px solid #18191b;
    padding: 0px 20px;
    height: 40px;

}

#home-header button a{
    text-decoration: none;
    color: #18191b;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
    outline: none;
    border: none;
    letter-spacing: 3px;
}

#home-header button:hover{
    background-color: #18191b;
    color: #dcdfe3;
    cursor: pointer;
}

#home-header button:hover a{
    color: #dcdfe3;
}
.about {
    text-align: center;
    background-color: #18191b;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #dcdfe3;
}

.about h2{
    font-size: 2.3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}



.separator {
    margin: 17px 0 35px 0;
}

.separator span {
    position: relative;
}


.separator span::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #393A3D;
    top: 5px;
    right: 100%;
    width: 300px;
    margin-right: 15px;
}


.separator span::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #393A3D;
    top: 5px;
    width: 300px;
    left: 100%;
    margin-left: 15px;
}


.separator span .fa-money {
    font-size: 3em;
    vertical-align: middle;
    color: #fff;
}



.his-story-container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.about article.his-story {
    text-align: left;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
}

.his-story h3{
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.his-story h3 span{
    color: #FAB702;
}

.his-story p{
    height: 120px;
    font-size: 1em;
    line-height: 1.8em;
}


/*Section wolf-advice*/

.wolf-advice {
    background: #222327;
    padding: 100px 0 120px;
    text-align: center;
}


.wolf-advice h2 {
    font-size: 2.3em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}



.wolf-advice p {
    width: 350px;
    background: rgba(4, 4, 4, 0.91);
    display: inline-block;
    padding: 70px 50px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    line-height: 26px;
    font-size: 1.4em;
    position: relative;
    margin-top: 50px;
}


.wolf-advice p::before {
    font-family: 'FontAwesome', sans-serif;
    content: "\f10d";
    color: #111;
    font-size: 1.5em;
    display: inline-block;
    padding: 7px 18px;
    background: #fab702;
    position: absolute;
    left: 7px;
    top: 13px;
}


.wolf-advice p::after {
    font-family: 'FontAwesome', sans-serif;
    content: "\f10e";
    color: #111;
    font-size: 1.5em;
    display: inline-block;
    padding: 7px 18px;
    background: #fab702;
    position: absolute;
    right: 7px;
    bottom: 13px;
}




@media screen and (max-width: 480px) {
    .wolf-advice {
        padding: 50px 0 60px;

    }
    .wolf-advice p {
        width: 85%;
        box-sizing: border-box;
        padding: 60px 30px;
        font-size: 1.2em;
        margin-top: 0;
    }

    .wolf-advice h2 {
        font-size: 2em;
    }

    .wolf-advice p::before {
        padding: 4px 15px;
        font-size: 1.3em;
    }

    .wolf-advice p::after {
        padding: 4px 15px;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 320px) {
    .wolf-advice h2 {
        font-size: 1.6em;
    }
    .wolf-advice p {
        font-size: 1.1em;
    }
}





/***********************Section Call Him ***********************/


.call-to-action {
    background-color: #fab702;
    width: 100%;
    height: 200px;
    display: flex;
}

.call-him {
    display: block;
    background-color: transparent;
    border: 3px solid #222222;
    width: 260px;
    cursor: pointer;
    margin: auto;
    color: #222222;
    font-size: 1.2em;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 20px 10px;
    text-decoration: none;
    text-align: center;
}

.call-him:hover {
    background-color: #222222;
    color: #fff;
}

.fa-chevron-right {
    padding-left: 5px;
}



/*Section Judge*/

.judge {
    background: url('Images/judge-main.jpg') no-repeat center;
    background-size: cover;
    padding: 80px 0;
    text-align: center;
}


.judge h2 {
    text-transform: uppercase;
    font-size: 2.3em;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 1px 1px #2a282b;
}



.judge .separator span {
    position: relative;
}


.judge .separator span .fa-money {
    text-shadow: 2px 1px 1px #2a282b;

}

.judge .separator span::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    top: 5px;
    right: 100%;
    width: 300px;
    margin-right: 15px;
}


.judge .separator span::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    top: 5px;
    width: 300px;
    left: 100%;
    margin-left: 15px;
}



.judge .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.judge .flex .judge-info {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin: 30px;
    background: rgba(250, 183, 2, 0.76);
    padding: 20px;
}


.judge .flex .judge-info:hover {
    background: rgba(24, 25, 27, 0.75);
}


.judge .flex .judge-info:hover a {
    color: #fff;
}


.judge .flex .judge-info a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    display: block;
    width: 190px;
    height: 190px;
    line-height: 190px;
    text-align: center;
}


.judge .flex .judge-info a:hover {
    cursor: default;
}


/************************Section Fun Facts ************************/

.fun-facts {
    width: 100%;
    background-color: #18191B;
    color: white;
    text-align: center;
    padding: 80px 0;
}

section.fun-facts h2 {
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.3em;
}



section.fun-facts ul {
    list-style: none;

}

section.fun-facts ul li {
    display: inline-block;
    padding: 50px;
}

section.fun-facts img {
    padding-bottom: 20px;
    max-width: 100%;
    height: auto;
}

section.fun-facts h3.numbers {
    padding-bottom: 10px;
    font-size: 30px;
}

section.fun-facts ul li p {
    font-size: 20px;
    padding-top: 5px;
    color: #fab702;
}



/************************ Section Partners ************************/

section.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: black;
}

section.partners img {
    display: block;
    margin: 30px;
    max-width: 100%;
    height: auto;
}




/************************ Section Footer ************************/

.footer-container {
    background-color: #0B0B0B;
    height: 80px;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container p {
    width: 215px;
    text-transform: capitalize;
    padding: 30px 10px;
}

.footer-container p span a {
    color: #fab702;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-container div.social {
    width: 100px;
    height: 50px;
    margin-left: 20px;
}

.social a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.social a:hover {
    color: #FAB702;
}






/*Team-Page*/

body#team {
    font-family: 'Raleway', 'Open Sans', sans-serif;
}

body#team main {
    background: #fab702;
    margin-top: 94px;
}


body#team main img {
    float: left;
    width: 70%;
}


body#team main .text-container {
    float: right;
    width: calc(30% - 40px);
    margin: 40px 20px;
    font-size: 1.3em;
}


body#team main::after {
    clear: both;
    display: block;
    content: "";
    height: 0;
}



body#team main .team h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
}



body#team main .team ul {
    list-style-type: none;
    margin-left: 10px;
}


body#team main .team ul li {
    margin-bottom: 3px;
}


body#team main .text-container .motto {
    margin-top: 30px;
    font-style: italic;
    text-align: center;
}



@media screen and (max-width: 1024px) {
    body#team main img {
        float: none;
        width: 100%;
    }

    body#team main .text-container {
        float: none;
        width: 100%;
        margin: 15px 0 0;
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}


@media screen and (max-width: 640px) {
    body#team main .text-container {
        font-size: 1.2em;
    }
}


@media screen and (max-width: 480px) {
    body#team main .team h4 {
        text-align: center;
    }
    
    body#team main .team li {
        display: inline-block;
    }
}




.footer-container {
    background-color: #0B0B0B;
    height: 80px;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container p {
    width: 215px;
    text-transform: capitalize;
    padding: 30px 10px;
}

.footer-container p span a {
    color: #fab702;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-container div.social {
    width: 100px;
    height: 50px;
    margin-left: 20px;
}

.social a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.social a:hover {
    color: #FAB702;
}








/*Contact-Page*/

body#contact {
    font-family: 'Raleway', 'Open Sans', sans-serif;
}

#contact-header nav {
    background-color: #18191b;
    display: flex;
    flex-direction: row;
}

#contact-header nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
}

#contact-header nav ul li {
    padding-left: 10px;
}

#contact-header nav ul li a {
    color: white;
    text-decoration: none;
}

#map {
    width: 100%;
    background-size: cover;
    background-color: grey;
}

.footer-container {
    background-color: #0B0B0B;
    height: 80px;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container p {
    width: 215px;
    text-transform: capitalize;
    padding: 30px 10px;
}

.footer-container p span a {
    color: #fab702;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-container div.social {
    width: 100px;
    height: 50px;
    margin-left: 20px;
}

.social a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.social a:hover {
    color: #FAB702;
}






/************************ Media Queries ************************/

@media screen and (max-width: 1600px) {

    .footer-container div.social {
        margin-top: 25px;
    }
}

@media screen and (max-width: 1024px) {

    .footer-container div.social {
        margin-top: 25px;
    }
}

@media screen and (max-width: 960px) {

    section.fun-facts h3.numbers {
        padding-bottom: 10px;
    }

    .footer-container div.social {
        margin-top: 25px;
    }

    section.partners {
        height: 300px;
    }
}


@media screen and (max-width: 768px) {

    section.fun-facts {
        height: 600px;
    }

    section.fun-facts h3.numbers {
        padding-bottom: 10px;
    }

    section.partners {
        height: 300px;
    }

    .footer-container div.social {
        margin-top: 25px;
    }
}

@media screen and (max-width: 640px) {

    section.fun-facts {
        height: 650px;
    }

    section.fun-facts ul {
    }

    section.fun-facts h3.numbers {
        padding-bottom: 10px;
    }

    section.partners {
        height: 400px;
    }

    .footer-container div.social {
        margin-top: 25px;
    }
}

@media screen and (max-width: 480px) {

    section.fun-facts h3.numbers {
        padding-bottom: 10px;
    }

    section.fun-facts {
        height: 1050px;
    }

    section.partners {
        height: 650px;
    }

    .footer-container div.social {
        margin-top: -10px;
        height: 100px;
    }
}

@media screen and (max-width: 320px) {
    section.fun-facts ul {
        padding: 50px;
    }

    section.fun-facts ul li {
        padding: 20px 20px;
    }

    section.fun-facts h3.numbers {
        padding-bottom: 10px;
    }

    section.fun-facts {
        height: 1250px;
    }

    section.partners {
        height: 600px;
    }

    .footer-container {
        height: 120px;
    }

    .footer-container div.social {
        margin-top: -10px;
        height: 100px;
    }
}

@media all and (min-width:1200px){
    #home-header nav, #team-header nav{
        width: 1180px;
    }
}
